Binaries/*
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
DerivedDataCache/*
Intermediate/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Saved/*
SourceArt/**/*.png
SourceArt/**/*.tga
.vscode
.vs/
.idea
*.VC.db
*.VC.opendb
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.ipa
*.ipch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.opensdf
*.opendb
*.out
*.pch
*.sdf
*.sln
*.slo
*.so
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
Documentation/Demo_2_user_request_fuzzing.mp4
Documentation/Demo_automatic_fuzzing.mp4
Release/
ReleaseVersion (1).zip
